body {
  padding-top: 70px;
}

.middle-center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  margin: auto auto;
  position: absolute;
  text-align: center;
}

.mtm {
  margin-top: 10px;
}

.mbm {
  margin-bottom: 10px;
}

.profile-image {
  height: 204px;
}

.details-display p {
  margin-top: 10px;
  margin-bottom: 0;
}

.details-display h4 {
  margin-top: 0;
}

.details-list > li {
  margin: 0 5px;
  font-size: 16px;
}