<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <ul class="media-list" ng-if="hasEvents()">
      <li class="media" ng-repeat="event in models.events">
        <div class="media-left">
          <img class="media-object img-circle" ng-src="{{ event.friendship.friendship_sender.photo }}" width="55"
               height="55" ng-if="event.friendship.friendship_sender.photo">
          <div class="media-object" ng-if="!event.friendship.friendship_sender.photo"></div>
        </div>
        <div class="media-left">
          <img class="media-object img-circle" ng-src="{{ event.friendship.friendship_receiver.photo }}" width="55"
               height="55" ng-if="event.friendship.friendship_receiver.photo">
          <div class="media-object" ng-if="!event.friendship.friendship_receiver.photo"></div>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ event.heading }}</h4>
          {{ event.updated|date:"MMMM d, yyyy" }}
        </div>
      </li>
    </ul>
    <p ng-if="!hasEvents()">Nothing notable has happened. Try making some friends.</p>
  </div>
</div>