<div class="text-center middle-center profile-image">
  <a ui-sref="profile_edit">
    <img class="media-object img-circle center-block" ng-src="{{ models.user.photo }}" width="120" height="120"
         ng-if="models.user.photo">
    <div class="media-object center-block" ng-if="!models.user.photo"></div>
  </a>
  <div>
    <div ng-show="isSelected('name')">
      <p>Hi, my name is</p>
      <h4>{{ models.user.first_name }} {{ models.user.last_name }}</h4>
    </div>
    <div ng-show="isSelected('email')">
      <p>My email address is</p>
      <h4>{{ models.user.email }}</h4>
    </div>
    <div ng-show="isSelected('birthday')">
      <p>My birthday is</p>
      <h4>{{ models.user.date_of_birth|date:"MMMM dd, yyyy" }}</h4>
    </div>
    <div ng-show="isSelected('address')">
      <p>My address is</p>
      <h4>{{ models.user.address }}</h4>
    </div>
    <div ng-show="isSelected('phone')">
      <p>My phone number is</p>
      <h4>{{ models.user.phone_number }}</h4>
    </div>
  </div>
  <ul class="list-inline details-list">
    <li ng-mouseenter="setSelected('name')">
      <span class="fa fa-user"></span>
    </li>
    <li ng-mouseenter="setSelected('email')">
      <span class="fa fa-envelope"></span>
    </li>
    <li ng-mouseenter="setSelected('birthday')">
      <span class="fa fa-calendar"></span>
    </li>
    <li ng-mouseenter="setSelected('address')">
      <span class="fa fa-map-marker"></span>
    </li>
    <li ng-mouseenter="setSelected('phone')">
      <span class="fa fa-phone"></span>
    </li>
  </ul>
</div>