<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <ul class="nav nav-pills nav-justified mbm">
      <li ui-sref-active="active">
        <a ui-sref="users.search" data-toggle="pill">Search</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="users.requests" data-toggle="pill">Requests</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="users.browse" data-toggle="pill">Browse</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="users.friends" data-toggle="pill">Friends</a>
      </li>
    </ul>
    <div ui-view></div>
  </div>
</div>